/****** Object:  Table [dbo].[APPOINTMENT_TABLE]    Script Date: 5/1/2021 12:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENT_TABLE](
	[APPOINTMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](100) NULL,
	[LASTNAME] [varchar](100) NULL,
	[CONTACT_NUMBER] [int] NULL,
	[DATE_APPOINTMENT] [datetime] NULL,
	[TIME_APPOINTMENT] [varchar](50) NULL,
	[MESSAGE_APPOINTMENT] [varchar](300) NULL,
	[SITE_ID] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NULL,
 CONSTRAINT [PK_APPOINTMENT_TABLE] PRIMARY KEY CLUSTERED 
(
	[APPOINTMENT_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXERCISE_TABLE]    Script Date: 5/1/2021 12:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXERCISE_TABLE](
	[EXERCISE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXERCISE_TYPE_ID] [int] NULL,
	[EXERCISE_DAY] [varchar](20) NULL,
	[EXERCISE_NAME] [varchar](250) NULL,
	[EXERCISE_REP_COUNT] [int] NULL,
	[EXECISE_NOTE] [varchar](255) NULL,
	[ROUTINE_ID] [varchar](255) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[EXERCISE_REP_ROUND] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EXERCISE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXERCISE_TYPE_TABLE]    Script Date: 5/1/2021 12:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXERCISE_TYPE_TABLE](
	[EXERCISE_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXERCISE_TYPE_NAME] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EXERCISE_TYPE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBERSHIP_TABLE]    Script Date: 5/1/2021 12:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBERSHIP_TABLE](
	[MEMBERSHIP_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](300) NOT NULL,
	[MEM_TYPE] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MEMBERSHIP_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TABLE]    Script Date: 5/1/2021 12:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TABLE](
	[PAYMENT_ID] [varchar](255) NOT NULL,
	[PAYMENT_TYPE] [varchar](100) NULL,
	[CARD_NUMBER] [varchar](100) NULL,
	[EXPIRES] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[PAID_DATE] [datetime] NULL,
	[USER_ID] [int] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_TABLE]    Script Date: 5/1/2021 12:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_TABLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](300) NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROUTINE_TABLE]    Script Date: 5/1/2021 12:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROUTINE_TABLE](
	[ROUTINE_ID] [varchar](255) NOT NULL,
	[NAME_ROUTINE] [varchar](255) NULL,
	[NOTE_ROUTINE] [varchar](255) NULL,
	[USER_ID] [int] NOT NULL,
	[CREATE_DATE_ROUTINE] [datetime] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK__ROUTINE___D19B1DC3DA7EA0A8] PRIMARY KEY CLUSTERED 
(
	[ROUTINE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SITE_TABLE]    Script Date: 5/1/2021 12:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SITE_TABLE](
	[SITE_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOCATION] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SITE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_TABLE]    Script Date: 5/1/2021 12:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_TABLE](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Identification] [varchar](100) NULL,
	[Email] [varchar](300) NOT NULL,
	[Password] [varchar](500) NOT NULL,
	[Address] [varchar](300) NULL,
	[PhoneNumber] [int] NULL,
	[ManagerName] [varchar](100) NULL,
	[FKMB] [int] NULL,
	[FKPAY] [varchar](255) NULL,
	[FKROLE] [int] NULL,
	[FKSITE] [int] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[APPOINTMENT_TABLE] ON 

INSERT [dbo].[APPOINTMENT_TABLE] ([APPOINTMENT_ID], [NAME], [LASTNAME], [CONTACT_NUMBER], [DATE_APPOINTMENT], [TIME_APPOINTMENT], [MESSAGE_APPOINTMENT], [SITE_ID], [CREATE_DATE], [IS_ACTIVE]) VALUES (1, N'12', N'1231', 1231, CAST(N'2021-04-22T00:00:00.000' AS DateTime), NULL, N'asda', 2, NULL, 0)
INSERT [dbo].[APPOINTMENT_TABLE] ([APPOINTMENT_ID], [NAME], [LASTNAME], [CONTACT_NUMBER], [DATE_APPOINTMENT], [TIME_APPOINTMENT], [MESSAGE_APPOINTMENT], [SITE_ID], [CREATE_DATE], [IS_ACTIVE]) VALUES (2, N'asdasd', N'asdas', 131312, CAST(N'2021-04-16T00:00:00.000' AS DateTime), N'10:00 a.m', N'asdas', 2, CAST(N'2021-04-26T20:48:53.427' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[APPOINTMENT_TABLE] OFF
SET IDENTITY_INSERT [dbo].[EXERCISE_TABLE] ON 

INSERT [dbo].[EXERCISE_TABLE] ([EXERCISE_ID], [EXERCISE_TYPE_ID], [EXERCISE_DAY], [EXERCISE_NAME], [EXERCISE_REP_COUNT], [EXECISE_NOTE], [ROUTINE_ID], [IS_ACTIVE], [EXERCISE_REP_ROUND]) VALUES (27, 1, N'Sábado', N'r1', 1, N'1', N'gpmoA097AzRGTGhiTLOpLJ1TBQuH2tw35YFprEVVQ', 1, 1)
INSERT [dbo].[EXERCISE_TABLE] ([EXERCISE_ID], [EXERCISE_TYPE_ID], [EXERCISE_DAY], [EXERCISE_NAME], [EXERCISE_REP_COUNT], [EXECISE_NOTE], [ROUTINE_ID], [IS_ACTIVE], [EXERCISE_REP_ROUND]) VALUES (28, 4, N'Sábado', N'r2', 2, N'2', N'gpmoA097AzRGTGhiTLOpLJ1TBQuH2tw35YFprEVVQ', 1, 2)
INSERT [dbo].[EXERCISE_TABLE] ([EXERCISE_ID], [EXERCISE_TYPE_ID], [EXERCISE_DAY], [EXERCISE_NAME], [EXERCISE_REP_COUNT], [EXECISE_NOTE], [ROUTINE_ID], [IS_ACTIVE], [EXERCISE_REP_ROUND]) VALUES (29, 1, N'Martes', N'3', 3, N'3', N'9XdfMmM5awKLiPU6IN38nn2uJRsGlZHZqOBHDAQWs', 1, 3)
SET IDENTITY_INSERT [dbo].[EXERCISE_TABLE] OFF
SET IDENTITY_INSERT [dbo].[EXERCISE_TYPE_TABLE] ON 

INSERT [dbo].[EXERCISE_TYPE_TABLE] ([EXERCISE_TYPE_ID], [EXERCISE_TYPE_NAME]) VALUES (1, N'Espalda')
INSERT [dbo].[EXERCISE_TYPE_TABLE] ([EXERCISE_TYPE_ID], [EXERCISE_TYPE_NAME]) VALUES (2, N'Pierna')
INSERT [dbo].[EXERCISE_TYPE_TABLE] ([EXERCISE_TYPE_ID], [EXERCISE_TYPE_NAME]) VALUES (3, N'Hombro')
SET IDENTITY_INSERT [dbo].[EXERCISE_TYPE_TABLE] OFF
SET IDENTITY_INSERT [dbo].[MEMBERSHIP_TABLE] ON 

INSERT [dbo].[MEMBERSHIP_TABLE] ([MEMBERSHIP_ID], [DESCRIPTION], [MEM_TYPE]) VALUES (1, N'Silver', N'Básica')
SET IDENTITY_INSERT [dbo].[MEMBERSHIP_TABLE] OFF
INSERT [dbo].[PAY_TABLE] ([PAYMENT_ID], [PAYMENT_TYPE], [CARD_NUMBER], [EXPIRES], [CREATE_DATE], [PAID_DATE], [USER_ID], [IS_ACTIVE]) VALUES (N'8okpNVZ5qnepK9iOeGQ9tpoLwMMBMdGepBqJXWH29Qk', N'Efectivo', N'30000', CAST(N'2021-05-26T21:42:52.940' AS DateTime), CAST(N'2021-04-26T21:42:52.940' AS DateTime), CAST(N'2021-05-01T09:45:03.053' AS DateTime), 3, 0)
INSERT [dbo].[PAY_TABLE] ([PAYMENT_ID], [PAYMENT_TYPE], [CARD_NUMBER], [EXPIRES], [CREATE_DATE], [PAID_DATE], [USER_ID], [IS_ACTIVE]) VALUES (N'ApeGRHZSRkyPH9VmZSOlwRmGaJDrEFClAg1FafaVLcU', N'efectivo', N'123123123', CAST(N'2021-06-26T21:42:52.940' AS DateTime), CAST(N'2021-05-01T09:45:03.537' AS DateTime), CAST(N'2021-05-01T09:45:28.230' AS DateTime), 3, 0)
INSERT [dbo].[PAY_TABLE] ([PAYMENT_ID], [PAYMENT_TYPE], [CARD_NUMBER], [EXPIRES], [CREATE_DATE], [PAID_DATE], [USER_ID], [IS_ACTIVE]) VALUES (N'ddOlFfYK9UieYq0igsshILU4pS2WL1czioYeJ6Fs', N'efectivo', N'123123', CAST(N'2021-08-26T01:32:03.767' AS DateTime), CAST(N'2021-04-27T12:21:27.573' AS DateTime), NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[ROLE_TABLE] ON 

INSERT [dbo].[ROLE_TABLE] ([ROLE_ID], [NAME], [DESCRIPTION], [IS_ACTIVE]) VALUES (1, N'Administrador', N'Admin del sitio', 1)
INSERT [dbo].[ROLE_TABLE] ([ROLE_ID], [NAME], [DESCRIPTION], [IS_ACTIVE]) VALUES (2, N'Instructor', N'Instructor', 1)
INSERT [dbo].[ROLE_TABLE] ([ROLE_ID], [NAME], [DESCRIPTION], [IS_ACTIVE]) VALUES (3, N'Cliente', N'Cliente', 1)
SET IDENTITY_INSERT [dbo].[ROLE_TABLE] OFF
INSERT [dbo].[ROUTINE_TABLE] ([ROUTINE_ID], [NAME_ROUTINE], [NOTE_ROUTINE], [USER_ID], [CREATE_DATE_ROUTINE], [IS_ACTIVE]) VALUES (N'08Tm9tHQH5W4VB8vEuqvs490660rEZ2l9AkLuECljLc', N'rutina para ema test', N'TEST', 7, CAST(N'2021-05-01T09:55:13.807' AS DateTime), 1)
INSERT [dbo].[ROUTINE_TABLE] ([ROUTINE_ID], [NAME_ROUTINE], [NOTE_ROUTINE], [USER_ID], [CREATE_DATE_ROUTINE], [IS_ACTIVE]) VALUES (N'0p0nktOskdtOAiQkozejmWjT4lfkd7sZWrIo75PM', N'1312', N'1231', 2, CAST(N'2021-04-26T21:33:13.827' AS DateTime), 1)
INSERT [dbo].[ROUTINE_TABLE] ([ROUTINE_ID], [NAME_ROUTINE], [NOTE_ROUTINE], [USER_ID], [CREATE_DATE_ROUTINE], [IS_ACTIVE]) VALUES (N'81jvKesufnVcVH3yR7D3bjTnMJ2WzcW52rfG2dYE', N'Rutina1', N'r1', 1, CAST(N'2021-04-24T19:44:56.893' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SITE_TABLE] ON 

INSERT [dbo].[SITE_TABLE] ([SITE_ID], [LOCATION]) VALUES (1, N'San José')
INSERT [dbo].[SITE_TABLE] ([SITE_ID], [LOCATION]) VALUES (2, N'Heredia')
SET IDENTITY_INSERT [dbo].[SITE_TABLE] OFF
SET IDENTITY_INSERT [dbo].[USER_TABLE] ON 

INSERT [dbo].[USER_TABLE] ([UserID], [Name], [LastName], [Identification], [Email], [Password], [Address], [PhoneNumber], [ManagerName], [FKMB], [FKPAY], [FKROLE], [FKSITE], [IS_ACTIVE], [CREATE_DATE]) VALUES (1, N'Diego', N'Castillo', N'123456789', N'diego@datagym.com', N'a441b15fe9a3cf56661190a0b93b9dec7d04127288cc87250967cf3b52894d11', N'Casa', 88889999, N'Paco', 1, NULL, 2, 1, 1, CAST(N'2021-04-24T19:44:56.893' AS DateTime))
INSERT [dbo].[USER_TABLE] ([UserID], [Name], [LastName], [Identification], [Email], [Password], [Address], [PhoneNumber], [ManagerName], [FKMB], [FKPAY], [FKROLE], [FKSITE], [IS_ACTIVE], [CREATE_DATE]) VALUES (2, N'Emmanuel', N'Cantillo', N'123456789', N'ema@datagym.com', N'A441B15FE9A3CF56661190A0B93B9DEC7D04127288CC87250967CF3B52894D11', N'Casa', 89788978, N'Paco', 1, N'tIUBJfM1zzgalS1dmysGNIOGYOqjq3Qk730B62uuSs', 1, 1, 1, CAST(N'2021-04-25T18:31:02.043' AS DateTime))
INSERT [dbo].[USER_TABLE] ([UserID], [Name], [LastName], [Identification], [Email], [Password], [Address], [PhoneNumber], [ManagerName], [FKMB], [FKPAY], [FKROLE], [FKSITE], [IS_ACTIVE], [CREATE_DATE]) VALUES (3, N'Instructor', N'Instructor', N'12321312', N'instructor@datagym.com', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'Casa', 23456789, N'Paco', 1, N'8okpNVZ5qnepK9iOeGQ9tpoLwMMBMdGepBqJXWH29Qk', 2, 1, 1, CAST(N'2021-04-26T21:42:52.563' AS DateTime))
SET IDENTITY_INSERT [dbo].[USER_TABLE] OFF
