/****** Object:  Table [dbo].[APPOINTMENT_TABLE]    Script Date: 5/1/2021 11:12:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENT_TABLE](
	[APPOINTMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](100) NULL,
	[LASTNAME] [varchar](100) NULL,
	[CONTACT_NUMBER] [int] NULL,
	[DATE_APPOINTMENT] [datetime] NULL,
	[TIME_APPOINTMENT] [varchar](50) NULL,
	[MESSAGE_APPOINTMENT] [varchar](300) NULL,
	[SITE_ID] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NULL,
 CONSTRAINT [PK_APPOINTMENT_TABLE] PRIMARY KEY CLUSTERED 
(
	[APPOINTMENT_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXERCISE_TABLE]    Script Date: 5/1/2021 11:12:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXERCISE_TABLE](
	[EXERCISE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXERCISE_TYPE_ID] [int] NULL,
	[EXERCISE_DAY] [varchar](20) NULL,
	[EXERCISE_NAME] [varchar](250) NULL,
	[EXERCISE_REP_COUNT] [int] NULL,
	[EXECISE_NOTE] [varchar](255) NULL,
	[ROUTINE_ID] [varchar](255) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[EXERCISE_REP_ROUND] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EXERCISE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXERCISE_TYPE_TABLE]    Script Date: 5/1/2021 11:12:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXERCISE_TYPE_TABLE](
	[EXERCISE_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXERCISE_TYPE_NAME] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EXERCISE_TYPE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBERSHIP_TABLE]    Script Date: 5/1/2021 11:12:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBERSHIP_TABLE](
	[MEMBERSHIP_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](300) NOT NULL,
	[MEM_TYPE] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MEMBERSHIP_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TABLE]    Script Date: 5/1/2021 11:12:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TABLE](
	[PAYMENT_ID] [varchar](255) NOT NULL,
	[PAYMENT_TYPE] [varchar](100) NULL,
	[CARD_NUMBER] [varchar](100) NULL,
	[EXPIRES] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[PAID_DATE] [datetime] NULL,
	[USER_ID] [int] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_TABLE]    Script Date: 5/1/2021 11:12:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_TABLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](300) NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROUTINE_TABLE]    Script Date: 5/1/2021 11:12:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROUTINE_TABLE](
	[ROUTINE_ID] [varchar](255) NOT NULL,
	[NAME_ROUTINE] [varchar](255) NULL,
	[NOTE_ROUTINE] [varchar](255) NULL,
	[USER_ID] [int] NOT NULL,
	[CREATE_DATE_ROUTINE] [datetime] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK__ROUTINE___D19B1DC3DA7EA0A8] PRIMARY KEY CLUSTERED 
(
	[ROUTINE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SITE_TABLE]    Script Date: 5/1/2021 11:12:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SITE_TABLE](
	[SITE_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOCATION] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SITE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_TABLE]    Script Date: 5/1/2021 11:12:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_TABLE](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Identification] [varchar](100) NULL,
	[Email] [varchar](300) NOT NULL,
	[Password] [varchar](500) NOT NULL,
	[Address] [varchar](300) NULL,
	[PhoneNumber] [int] NULL,
	[ManagerName] [varchar](100) NULL,
	[FKMB] [int] NULL,
	[FKPAY] [varchar](255) NULL,
	[FKROLE] [int] NULL,
	[FKSITE] [int] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
