
@{
    ViewBag.Title = "NoAuthorized";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>401 Unauthorized</title>
</head>
<body>
    <hgroup>
        <h2>Ups, has sucedido un error ! :(</h2>
        <br>
        <h2>Por favor contacta al administrador de sistema.</h2>
    </hgroup>
</body>
</html>
