@model DataGYM.Models.UserViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

@Html.AntiForgeryToken()

<form action="~/Login" method="post">
    <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email" name="email" required>
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <p style="color:red">@ViewBag.MensajeError</p>
    <div class="row">
        <div class="col-12">
            <center>
                <button type="submit" class="btn btn-primary btn-block" >Ingresar</button>
            </center>
        </div>
    </div>
</form>
